<!DOCTYPE html>
<html>
    <head>
        <title>page of Cshtml</title>
    </head>
    <body>
        @{
            string mesage = "this mesage is made by Cs script";
        }
        <p1>@mesage</p1>
    </body>
</html>