
$mobile-decide-width:500px;
$desktop-decide-width:501px;
:root{
}
@mixin darkSide()
{
  background:#1e1e1f;color: rgb(200, 200, 200);
}
@mixin lightSide()
{
  background:rgb(241, 241, 241);color: rgb(0, 0, 0);
}
@mixin make_dark()
{
  @media (prefers-color-scheme: dark) 
  {
    filter:invert(1)
  }
  @media (prefers-color-scheme: light) 
  {
    filter:invert(0)
  }
}
@media (prefers-color-scheme: dark) {
  body
  {
    @include darkSide();
  }
  main{
    @include darkSide();
  } 
  .navbar
  {
    @include darkSide();
    
  }
  .mobile_navbar 
  {
    @include darkSide();
  }
  .navitem_m
  {
    @include darkSide();
  }
  .navitem
  {
    @include darkSide();
  }
  .container_m{
    @include darkSide();
  }
}
@media (prefers-color-scheme: light) {
  body
  {
    @include lightSide();
  }
  .navbar
  {
    @include lightSide();
  }
  .mobile_navbar 
  {
    @include lightSide();
  }
  .navitem_m
  {
    @include lightSide();
  }
  .navitem
  {
    @include lightSide();   
  }
  .container_m{
    @include lightSide();
  }
}
body
{
  margin: 0%;
  font-family:Arial, Helvetica, sans-serif;
}

@media(max-width:$mobile-decide-width){
    
}
@media(min-width:$desktop-decide-width){
    
}
.navbar
{
 
  display: flex;
  position: fixed;
  width:100%;
  height: 50px;
  border-bottom:1px solid gray;
  opacity :1;
  z-index: 1;
}
.mobile_navbar
{
  z-index: 10;
  height:40px;
  position:fixed;
  width:100%;
  border-bottom:1px solid gray;
}
.container_m
{
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;
  right: 0px;
  float: right;
  position: fixed;
  width:80%;
  height:100%;
  overflow-y: scroll;
  border-left: 1px gray solid;

}
.container_m::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

@media(max-width:$mobile-decide-width)
{
  .navbar
  {
    display: none;
  }
  .mobile_navbar
  {
    display:flex;
  }
  .blog::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
@media(min-width:$desktop-decide-width)
{
  .navbar
  {
    display: flex;
  }
  .mobile_navbar
  {
    display:none;
  }

}
.container
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  right: 2%;
  height:100%;
  float: right;
  position: absolute;
}
.navitem
{
  /*border:1px solid gray;*/
  flex:1;
  width:100px;
  text-align: center;
}
.navitem:hover
{
    background-color: rgba(100, 100, 100,0.6);
}
.navitem_m
{
  border-bottom:1px solid gray;
  border-left:1px solid gray;
  flex:1;
  height: 40px;
  max-height: 40px;
  width:100%;
  text-align: center;
}
#posts
{
  top:40px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width: unquote("min(1000px,100%)");
  height: 100%;
}

#profile
{
  top:40px;
  border-bottom: 1px solid gray ;
}

main
{
  display: block;
}
#blog
{
  position:relative;
}
.pointer
{
  cursor: pointer;
}
//POST CARDS
.card_a{
  text-decoration: none;
  color: inherit;
}
.post
{
  border: 1px solid gray;
  padding-left: 30px;
  padding-bottom: 25px;
}
.card
{
  width:100%;
  margin: 0 auto;
  overflow:none;
  margin-top: unquote("min(5%,50px)");
  margin-bottom: unquote("min(5%,50px)");
  .card__first_warpper
  {
    
    margin: 0 auto;
    padding:10px;
    width:50%;
    border-radius: 5px;
    @media (prefers-color-scheme: light) 
    {
      background-color: rgb(218, 165, 32);
    }
    @media (prefers-color-scheme: dark) 
    {
      background-color: rgba(29, 29, 29, 0.484);
    }
    display: flex;
    .card__pic
    {
      width : 50px;
      height: 50px;
    }
    .card__second_warpper
    {
      display: flex;
      flex-direction:column;
      .card__title
      {
        font-size: larger;
      }
      .card__desc
      {
        font-size: small;
      }
    }
  }
  .card__first_warpper:hover
  {
    background-color: rgba(100, 100, 100,0.6);
  }
}

.article_warp
{
  width:100%;

}
.post_category{

}
.post_category_init{

}
.post_category_open{

}
.post_category_closed{
  
}
.big_category_closed{
  
}
.big_category_opened{
  
}
.category_title_name{
  width: calc(100% - 80px);
  word-break: break-all;
  padding-left: 20px;
}
.big_post_category{
  display: flex;
  flex-direction:column;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(40,40,40);
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px 15px 4px 4px;
}
.category_title{
  display: flex;
}
.mid_category_title{
  padding-left: 10px;
}
.cartegory_btn{
  width:80px;
  margin:auto auto auto
}
#document{
  height: 100%;
}
.article_type
{
  @media (prefers-color-scheme: light) 
  {
    background-color: rgb(146, 145, 145);
  }
  @media (prefers-color-scheme: dark) 
  {
    background-color: rgba(46, 46, 46, 0.5);
  }
  @media (max-width:1230px)
  {
    margin: 1% unquote("calc(max(10%,5px) - 15px)");
    width: unquote("min(calc(100vw - 10px) , 80%)");
  }
  @media (min-width:1231px)
  {
    margin: 1% unquote("calc(calc(100% - 1015px) / 2)");
    width:1000px;
  }
  
  height:100%;
  padding: 15px;
  border-radius: 15px;
}

// PROFILE 
#profile_history{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}
.history_element{
  display: flex;
  margin: 0 auto;
}
.history_element_stack
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: gray 1px solid;
  padding: 10px;
  word-break:break-all;
  flex-wrap:wrap;

}
.stacks_img
{
  width: 60px;
}
.stacks
{
  margin: 5px;
}
.stacks_name h3{
  margin: 0px;
}
.history_element_name
{
  @media (min-width:$mobile-decide-width) {
    width:min(19.5vw, 200px);
  }
  @media (max-width:$desktop-decide-width) {
    width:100%;
    border-bottom: gray 1px solid;
  }
  justify-content: center;

  min-width: 50px;
  display: flex;
  border-right: gray 1px solid;
  align-items: center;
}
.history_element_name_text
{
 
  margin: 10px;
  word-break:break-all;
}
.proj_war
{
  @media (min-width:$desktop-decide-width) {
    width:min(1000px,90vw);
    flex-direction: row; 
  }
  @media (max-width:$mobile-decide-width) {
    width:90vw;
    flex-direction: column; 
    
  }
  display: flex;
  justify-content: center;
  border: 1px gray solid;
}
.project_desc_
{
  @media (min-width:$desktop-decide-width) {
    width:min(80vw, 800px);

  }
  @media (max-width:$mobile-decide-width) {
    width:100%;

  }
}
//PROFILE

#profile_pic{
  width:100%;
  height: 100%;
  max-width: 1000px;
  img {
    width: inherit;
  }
}

//HISTORY
#history_list
{
  max-width: 600px;
  width: 85%;
}
.history_card
{
  border-bottom: gray 1px solid;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.history_title
{
  h1{
    margin-top: 5px;
    margin-bottom: 5px;
  }
 
}
  

.history_time
{
  font-size: larger;
  margin-bottom: 5px;
}
  

.history_desc
{
  font-size: larger;
  margin-bottom: 3px;
}
  

.history_desc2
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.history_desci
{
  float: left;
  margin: 2px;
}

//STACKS 

.need_invert{
  @include make_dark();
}
#stack_groups
{
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  max-width: 1000px;
  flex-direction: column;
}
.stack_group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin:auto;
  width: 100%;

}
@mixin stacksize(){
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 5px;
  background-color: #13131d;
  border-radius : 20px;
}
.stack{
  @include stacksize();
}
.stack_domain_warp
{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-all;
  border-bottom: gray 1px solid;
}
.stack_name{
  word-break: break-all;
}
.stack_domain
{
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.stack:hover{
  transform: scale(1.5);
  animation-name: stack_onhover;
  animation-duration: 0.5s;
}
.stack:not(:hover){
  transform: scale(1);
  animation-name: stack_offhover;
  animation-duration: 0.5s;
}
.stack_init{
  @include stacksize();

  transform: scale(1);
}
.card_back{
  display: none;
}
.stack_image{

  border-radius:10px;
}
.card_show{
  margin: auto;
  animation-name: card_on;
  animation-duration: 0.5s;
  width:100%;
  height:100%;
}
.card_back{
  animation-name: card_off;
  animation-duration: 0.5s;
}
@mixin card_surface{
	transform:matrix(1, 0, 0, 1, 0, 0);
}
@mixin card_backface{
	transform:matrix(-1, 0, 0, 1, 0, 0);
}
@keyframes stack_offhover{
	from{
    transform: scale(1.5);
	}
	to{
		transform: scale(1);
	}
}
@keyframes card_on{
	from{
		opacity: 0;
	}
	32%{opacity: 0;}
	33%{opacity: 1;}
	99%{
		@include card_surface();
		
	}
	to{
		visibility:collapse;
	}
}

@keyframes card_off{
	from{
		@include card_surface();
		display: block;
		opacity: 1;


	}
	30%{opacity: 0.9;}
	31%{opacity: 0;}
	99%{
		@include card_backface();
		display: block;
		

	}
	to{
		transform:matrix(0, 0, 0, 1, 0, 0);
		visibility: hidden;
	}
}

.card_name{
  h4{
    
    margin-top: 20%;

  }
}

@keyframes stack_onhover
{
  from{
    transform: scale(1.0);
  }
  to{
    transform: scale(1.5);
  } 
}
//contact
#contact
{
  display: flex;
  width:85%;
  max-width: 850px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.contact_warp
{
  max-width: 80px;
  display: flex;
  width:100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}
.cont_pic{
  width: 100%;
}
.contact_img {
  height: 80px;
}
//footer
footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

//DOCUMENT
#document{
  img{
    
    max-width: 100%;
    width: auto;
  }
  .prettyprinted{
    
    @media (prefers-color-scheme: dark) {
      background-color: rgb(28, 28, 32);
    }
    @media (prefers-color-scheme: light) {
      background-color: rgb(245, 245, 245);

    }
    border :  gray 1px solid;
    padding:25px 5px;
    overflow: scroll;

    code{
      @mixin setCodeColor($white_color,$dark_color)
      {
        @media (prefers-color-scheme: dark) {
          color:$dark_color ;
    
        }
        @media (prefers-color-scheme: light) {
          color: $white_color;
        }
      }
      /*.kwd{
        @include setCodeColor(rgb(0, 54, 105),rgb(88, 138, 204))
      }*/
      .pln{
        @include setCodeColor(rgb(204, 156, 0),rgb(255, 252, 77))
      }
      /*.str{
        @include setCodeColor(rgb(90, 77, 0),rgb(161, 119, 64))
      }
      .pun{
        @include setCodeColor(rgb(0, 0, 0),rgb(255, 255, 255))
      }
      */
    }
  }
}
.prettyprinted::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
//COMENT
.comment{
  position: relative;
}
.utterances-frame{
}
.comment_warp{
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

//MARKDOWN

//blockquote
#document blockquote{
  margin-left: 20px;
  padding: 3px min(15px,1%);
  background-color: rgba(29, 29, 29, 0.484);
  border-left: rgba(0, 0, 0, 1) 5px solid;
}
//math
.katex-html{
  display: none;
}
.katex{
white-space: pre-wrap !important;
}
