@media (prefers-color-scheme: dark) {
  body {
    background: rgb(9, 9, 10);
    color: rgb(219, 219, 219);
  }
  .navbar {
    background: rgb(9, 9, 10);
    color: rgb(219, 219, 219);
  }
  .mobile_navbar {
    background: rgb(9, 9, 10);
    color: rgb(219, 219, 219);
  }
  .navitem_m {
    background: rgb(9, 9, 10);
    color: rgb(219, 219, 219);
  }
  .navitem {
    background: rgb(9, 9, 10);
    color: rgb(219, 219, 219);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .navbar {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .mobile_navbar {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .navitem_m {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .navitem {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}
body {
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 50px;
  border: 1px solid gray;
  opacity: 1;
  z-index: 1;
}

.mobile_navbar {
  z-index: 10;
  height: 40px;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid gray;
}

.container_m {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  right: 0px;
  float: right;
  position: fixed;
  width: 80%;
  top: 41px;
  height: 80px;
  overflow-y: scroll;
}

.container_m::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media (max-width: 400px) {
  .navbar {
    display: none;
  }
  .mobile_navbar {
    display: flex;
  }
  .blog::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
@media (min-width: 401px) {
  .navbar {
    display: flex;
  }
  .mobile_navbar {
    display: none;
  }
}
.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  right: 0px;
  height: 100%;
  float: right;
  position: absolute;
}

.navitem {
  border-left: 1px solid gray;
  flex: 1;
  width: 100px;
  text-align: center;
}

.navitem_m {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  flex: 1;
  height: 40px;
  width: 100%;
  text-align: center;
}

#posts {
  top: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(1000px, 100%);
  height: 100%;
}

#profile {
  top: 40px;
  border-bottom: 1px solid gray;
}

main {
  display: block;
}

#blog {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.post {
  border: 1px solid gray;
  padding-left: 30px;
  padding-bottom: 25px;
}

.card {
  width: 100%;
  margin: 0 auto;
  overflow: none;
  margin-top: min(5%, 50px);
  margin-bottom: min(5%, 50px);
}
.card .card__first_warpper {
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  display: flex;
}
@media (prefers-color-scheme: light) {
  .card .card__first_warpper {
    background-color: rgb(218, 165, 32);
  }
}
@media (prefers-color-scheme: dark) {
  .card .card__first_warpper {
    background-color: rgba(29, 29, 29, 0.484);
  }
}
.card .card__first_warpper .card__pic {
  width: 50px;
  height: 50px;
}
.card .card__first_warpper .card__second_warpper {
  display: flex;
  flex-direction: column;
}
.card .card__first_warpper .card__second_warpper .card__title {
  font-size: larger;
}
.card .card__first_warpper .card__second_warpper .card__desc {
  font-size: small;
}

.article_warp {
  width: 100%;
}

.article_type {
  height: max(50vh, 100%);
  position: absolute;
  padding: 15px;
  border-radius: 15px;
}
@media (prefers-color-scheme: light) {
  .article_type {
    background-color: rgb(218, 165, 32);
  }
}
@media (prefers-color-scheme: dark) {
  .article_type {
    background-color: rgba(46, 46, 46, 0.5);
  }
}
@media (max-width: 1230px) {
  .article_type {
    margin: 1% calc(max(10%, 5px) - 15px);
    width: min(100vw - 10px, 80%);
  }
}
@media (min-width: 1231px) {
  .article_type {
    margin: 1% calc((100% - 1015px) / 2);
    width: 1000px;
  }
}/*# sourceMappingURL=app.css.map */