
@mixin white_mode_template(){
    --background: rgb(200, 200, 200);
    --fontcolor:rgb(0,0,0);
    --make_dark:invert(0);
    --card_background : rgb(190, 190, 190);
    --postcard_background : rgb(190,190,190);
    --sub_postcard_color : rgba(160,160,160,0.7);
    --href_color:rgb(50,50,200);
    --dark-back-ground:rgba(250,250,250,1);
    --dark-text:rgba(22,22,22,1);
  }
  @mixin dark_mode_template(){
    --background: #171718;
    --fontcolor:rgb(200, 200, 200);
    --make_dark:invert(1);
    --card_background : rgb(30, 30, 30);
    --postcard_background : rgb(50,50,50);
    --sub_postcard_color : rgba(40,40,40,0.7);
    --href_color:rgb(149, 149, 194);
    --dark-back-ground:rgba(22,22,22,1);
    --dark-text:rgba(250,250,250,1);;
  }
  body[is_light="dark"]{
    @include dark_mode_template();
  }
  #header_div[is_light="dark"]{
    @include dark_mode_template();
  }
  footer[is_light="dark"]{
    @include dark_mode_template();
    background: var(--background);
    color: var(--fontcolor)
  }
  
  body[is_light="light"]{
    @include white_mode_template();
  }